/* nav */

body {
  background-color: #f4f3ef;
}

.nav-box {
  background-color: #fff;
  background-size: cover;
  position: fixed;
  left: 0;
  max-height: none;
  min-height: 100%;
  width: 260px;
  border-right: 1px solid #ddd;
}

.logo {
  width: 85%;
  height: 75px;
  text-align: center;
  margin: 0 auto;
  border-bottom: 1px solid #d1d0ce;
  font-size: 20px;
  line-height: 75px;
  color: #7d615b;
}

.nav {
  width: 80%;
  margin: 20px auto 0;
}

.nav li {
  margin: 10px 0;
  list-style-type: none;
  display: block;
  position: relative;
  z-index: 1;
}

.nav .glyphicon {
  margin-right: 10px;
}

.nav li a {
  color: #94908c;
  display: block;
}

.nav .cur .nav-name {
  color: #eb5e28;
}

.nav .cur .glyphicon {
  color: #eb5e28;
}

.nav li a:hover {
  background-color: transparent;
}

.nav-name {
  font-size: 16px;
}

.nav .nav-hidden {
  position: fixed;
  bottom: 0;
}

.triangle_border_left {
  width: 0;
  height: 0;
  border-width: 20px 20px 20px 0;
  border-style: solid;
  border-color: transparent #ddd transparent transparent;
  position: absolute;
  top: 1px;
  right: -27px;
  z-index: 999;
}

.triangle_border_left span {
  display: block;
  width: 0;
  height: 0;
  border-width: 18px 18px 18px 0;
  border-style: solid;
  border-color: transparent #f4f3ef transparent transparent;
  position: absolute;
  top: -18px;
  left: 2px;
}


/* nav end*/


/*container*/

.container-box {
  margin-left: 260px;
  height: 100%;
  padding: 0 10px;
  overflow: auto;
}


/* head */

.head {
  height: 75px;
  border-bottom: 1px solid #ddd;
}

.tag {
  float: left;
  height: 75px;
  line-height: 75px;
  font-size: 18px;
  margin-left: 10px;
  color: #777777;
}

.setting {
  float: right;
  font-size: 18px;
  line-height: 75px;
}

.setting .glyphicon{
  top: 2px;
  margin-right: 5px;
}

.setting a {
  cursor: pointer;
  margin:0 5px;
  color: #777;
  text-decoration: none;
}

.setting .badge{
  margin-left: 5px;
}


/* head end*/

.white-box {
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 3px 3px #bebebe;
  margin-bottom: 30px;
}

.container {
  width: 100%;
  padding: 30px;
}

caption p {
  font-size: 14px;
  margin: 0;
  padding-left: 10px;
}

caption{
  font-size: 18px;
}

.dow-list{
  margin: 0;
  padding: 0;
}

.dow-list li{
  list-style: none;
  float: left;
  width: 23%;
  margin-right: 24px;
  border: 1px solid transparent;
}

.dow-list .white-box:hover{
  border: 1px solid #2e6da4;
}

.clearmr{
  margin-right: 0 !important;
}

.line{
  height: 1px;
  background-color: #bebebe;
  width: 100%;
  margin: 0 auto 10px;
}

.text-type{
  font-size: 14px;
}
.text-name{
  font-size: 20px;
  font-weight: bold;
}


/*container end */

/* 后台登录页样式 */
/* .cms-box */
.cms-box {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}
/* .cms-box end */

/* cms-box-title */
.cms-box-title {
  position: relative;
  text-align: center;
  margin-bottom: 10px;
}

.cms-box-title:before {
  content: '';
  width: 100%;
  position: absolute;
  border-top: 1px solid #EEE;
  top: 30px;
  left: 0;
  z-index: 0;
}

.cms-box-title h3 {
  display: inline-block;
  position: relative;
  margin-bottom: 5px;
  padding: 0 10px;
  background-color: #fff;
  color: #666;
  font-weight: 100;
  font-size: 20px;
  z-index: 1;
}

.cms-box-title h4 { 
  margin-top: 0;
  color: #DDD;
  font-weight: 100;
  font-size: 12px;
  clear: both;
}
/* cms-box-title */

/* cms-box-form */
.login-input input {
  margin: 20px 0;
  height: 45px;
}

.login-input input:hover,
.login-input input:focus {
  border-color: #eb5e28;
  -o-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(235, 143, 40, .6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(235, 143, 40, .6);  
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(235, 143, 40, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(235, 143, 40, .6);  
}

.login-input .warning-info {
  display: none; /*当密码或者用户名输错时才显示错误信息*/
  color: #b74d46;
  background-color: #fff0f0;
  border: 1px solid #ffd2d2;
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
}

a.forget-password {
  float: right;
  margin-bottom: 20px;
}

.enter-button {
  margin-top: 15px;
  margin-bottom: 20px;
}

.enter-button > button {
  width: 100%;
  height: 40px;
  color: white;
  background-color: #eb5e28;
}

.enter-button > button:hover,
.enter-button > button:focus {
  color: white;
  background-color: #f2926e;
}
/* cms-box-form end */